@model TelegramViewModel
@{
    ViewData["Title"] = "Telegram";
}

<div class="text-center">
    <h1 class="display-4">Telegram</h1>
    
    @if (Model.IsConnected)
    {
        <p>Bot is connected and can be accessed by this <a href="@Model.BotLink">LINK</a></p>
    }
    else
    {
        <form asp-action="StartTelgramBot" method="post">
            <button type="submit" class="btn btn-primary">Start bot</button>
        </form>
    }
</div>
