@model MqttViewModel
@using Microsoft.AspNetCore.Mvc.ViewFeatures

@{
    ViewData["Title"] = "MQTT";
}

<div class="text-center">
    <h1 class="display-4">MQTT</h1>

    @if(Model.IsStarted)
    {
        <p>Server is started!</p>

        <form asp-action="StopMQTTBroker" method="post">
            <button type="submit" class="btn btn-primary">Stop server</button>
        </form>

    }
    else
    {
        <form asp-action="StartMQTTBroker" method="post">
            <button type="submit" class="btn btn-primary">Start server</button>
        </form>        
    }
    
    <p>All devices are availble in @Html.ActionLink("Devices List", "Devices")</p>
</div>
